[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Crash reports
*.pidb

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb.meta
*.pdb
*.mdb
*.opendb
*.VC.db
*.vs/


# Rider
.idea/
*.sublime-workspace
